<div class="body-wrap masonry-container">
	<div id="st-container" class="st-container">
		<div class="st-pusher">
			<div class="st-content">
				<div class="st-content-inner">
					<div class="header">
						<nav class="navbar navbar-expand-lg navbar--bold  navbar-transparent navbar-inverse bg-dark ">
							<div class="container navbar-container">
								<div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
									<!-- Navbar links -->
									<ul class="c-black navbar-nav">
										<li class="c-black nav-item dropdown megamenu">
											<a data-turbolinks="false" class="nav-link" href="<% root_path %>">
												南の旅
											</a>
										</li>
										<li class="nav-item dropdown">
											<li class="nav-item dropdown megamenu">
												<a data-turbolinks="false" class="nav-link" href="#visite">
													訪問
												</a>
											</li>
											<li class="nav-item dropdown megamenu">
												<a data-turbolinks="false" class="nav-link" href="#tarif">
													料金
												</a>
											</li>
											<li class="nav-item dropdown megamenu">
												<a data-turbolinks="false" class="nav-link" href="#contact">
													ご連絡
												</a>
											</li>
										</ul>
										<ul class="navbar-nav ml-lg-auto">
											<li class="nav-item dropdown megamenu">
												<a data-turbolinks="false" class="nav-link"  href="#who">
													僕は誰？
												</a>
											</li>
										</ul>
									</div>
									<div class="pl-4 d-none d-lg-inline-block">
										<a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-sm btn-white  text-uppercase " target="_blank">
											訪問の予約
										</a>
									</div>
								</div>
							</nav>
						</div>
						<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset="">
							<div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
								<div class="swiper-wrapper">
									<!-- Slide -->
									<div class="swiper-slide" data-swiper-autoplay="8000">
										<div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url('<%= asset_path 'marseille01.jpg' %>'); background-position: bottom center;">

											<div class="container d-flex align-items-center">
												<div class="col">
													<div class="row text-center">
														<div class="col-12">
															<h2 class="heading heading-xxl strong-600 text-uppercase animated" data-animation-in="fadeInDownBig" data-animation-delay="200" style="color: black">
																南 の 旅
															</h2>

															<p class="lead animated heading-2 strong-700" data-animation-in="fadeInUpBig" data-animation-delay="200" 

															style="color: black; -webkit-text-stroke: 1.5px; -webkit-text-stroke-color: white;">
															地元のガイドと一緒にマルセイユを訪問
														</p>

														<a data-turbolinks="false" href="#learn" data-scroll-to="#scrollToSection" class="btn btn-styled btn-lg btn-white  mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1000">
															もっと詳しく知る
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="slice sct-color-2 c-black">
						<div class="container">
							<div class="section-title section-title--style-1 text-center mt-3">
								<h3 class="section-title-inner">
									<span>どのように機能しますか。</span>
								</h3>
							</div>

							<div class="row align-items-md-center cols-xs-space cols-md-space cols-lg-space">
								<div class="col-lg-3 col-md-6">
									<div class="icon-block icon-block--style-1-v5 text-center">
										<div class="block-icon block-icon-lg mb-0">
											<i class="fa fa-map-o"></i>
										</div>
										<div class="block-content">
											<h3 class="heading heading-lg c-base-1"></h3>
											<h3 class="heading heading-5 strong-500">好きな路線を選んで</h3>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6">
									<div class="icon-block icon-block--style-1-v5 text-center">
										<div class="block-icon block-icon-lg mb-0">
											<i class="fa fa-send-o"></i>
										</div>
										<div class="block-content">
											<h3 class="heading heading-lg c-base-1"></h3>
											<h3 class="heading heading-5 strong-500">メッセージを送って</h3>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6">
									<div class="icon-block icon-block--style-1-v5 text-center">
										<div class="block-icon block-icon-lg mb-0">
											<i class="fa fa-cc-visa"></i>
										</div>
										<div class="block-content">
											<h3 class="heading heading-lg c-base-1"></h3>
											<h3 class="heading heading-5 strong-500">30％を払って</h3>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6">
									<div class="icon-block icon-block--style-1-v5 text-center">
										<div class="block-icon block-icon-lg mb-0">
											<i class="fa fa-handshake-o"></i>
										</div>
										<div class="block-content">
											<h3 class="heading heading-lg c-base-1"></h3>
											<h3 class="heading heading-5 strong-500">契約です</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<span class="space-xs-xl"></span>

					</section>
					<div>
						<div style="background-color: white" class="half-image-content bg-faded">
							<div class="content-img bg-parallax pos-left" data-jarallax='{"speed": 0.6}' 
							style="background: url('<%= asset_path 'photo2.jpg' %>') no-repeat;">
						</div>
						<br>
						<div id="learn" class="container">
							<div class="row">
								<div class="col-lg-5 ml-auto  pt80 pb80">
									<h2>
										こんにちは、南の旅へようこそ！
										<br>
									</h2>
									<div>
										<h4> 
											<br><br><br>
											「アメドと申します、生まれはマルセイユです。 <br>
											私はマルセイユが一番大好きな町です。<br>
											すばらしい日を生きるようにする。<br>
											そして、マルセイユは訪れたい人に見せてあるのが本当に楽しいです。<br>
											マルセイユの秘密と有名な通りを通って素敵な一日を過ごしましょう。<br>
											あなたの言語を話す地元のガイドと地中海の瞬間を過ごす準備をする」 
											<br> <br>
										</h5>
										<br>
										<h4> Ahmed </h4>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br><br><br>
			<div style="margin-top: 10%">
				<section id="visite" class="sct-color-1" id="scrollToSection">
					<div class="container container-over-top">
						<div class="section-title section-title-inverse section-title--style-1 text-center mb-5">
							<h3 class="section-title-inner heading-2 c-black">
								<br>
								<span>訪問</span>
							</h3>
							<span class="space-xs-xl"></span>

							<span class="section-title-delimiter clearfix d-none"></span>
						</div>
						<span class="clearfix"></span>
						<div class="row row-sm-padding cols-xs-space cols-sm-space cols-md-space">
							<div class="col-lg-3 col-md-6">
								<div class="block block-image-holder animate-this animate--hover-zoom animate--hover-show-btn">
									<div class="block-image">
										<a href='#contact'>
											<img src="<%= asset_path 'photo20.jpg' %>">
										</a>
									</div>
									<div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
										<div class="block-info-inner animate-translate--up">
											<div class="text-center">
												<a href='#contact' class="heading heading-4 strong-500 mb-0 c-white">古い港の周り</a>
												<br>
												<span class="clearfix c-white"> 〜四時間 </span>
												<small class="text-uppercase c-white">難易度：簡単</small>
											</div>
										</div>
									</div>
									<div class="animate--hover-button c-white"> 19世紀まで貿易の中心地として栄えていたマルセイユの港。<br>
										いまではヨットなどレジャー用の船舶が停泊している。<br>
										港ならではの活気を満喫するなら、旧港中央のベルジュ河岸 <br> 
										quai des Belgesに毎朝たつ魚の市場に行って見るのもおすすめ。<br>
										旧港周辺に軒を連ねるレストランでは名物のブイヤベースを味わうことができる<br>
										<a href='#contact'>
											<button data-hint="こんにちは, Vieux Port の訪問を予約したいです。" class="clickable btn btn-styled btn-sm btn-base-2">予約し</button> 
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="block block-image-holder animate-this animate--hover-zoom animate--hover-show-btn">
									<div class="block-image">
										<a href='#contact'>
											<img src="<%= asset_path 'img-promo-2.jpg' %>">
										</a>
									</div>
									<div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
										<div class="block-info-inner animate-translate--up">
											<div class="text-center">
												<a href='#contact' class="heading heading-4 strong-500 mb-0 c-white">コルニーシュを散歩</a>
												<br>
												<span class="clearfix c-white"> 〜四時間 </span>
												<small class="text-uppercase c-white">難易度：簡単</small>
											</div>
										</div>
									</div>
									<div class="animate--hover-button c-white"> ラコルニーシュはマルセイユでもっとも美しいパノラマのひとつである。
										この大通りはマルセイユ人が街の南部へ移動するのを容易にして、約5キロメートルの間地中海に沿って走ります。
										この美しい遊歩道から、Châteaud'If、Frioul Islands、Vallon des Auffes などのさまざまな神秘的なモニュメントの素晴らしい景色を眺めることができます。<br>
										<a href='#contact'>
											<button data-hint="こんにちは, CORNICHEの訪問を予約したいです。" class="clickable btn btn-styled btn-sm btn-base-2">予約し</button> 
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="block block-image-holder animate-this animate--hover-zoom animate--hover-show-btn">
									<div class="block-image">
										<a href='#contact'>
											<img src="<%= asset_path 'img-promo-3.jpg' %>">
										</a>
									</div>
									<div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
										<div class="block-info-inner animate-translate--up">
											<div class="text-center">
												<a href='#contact' class="heading heading-4 strong-500 mb-0 c-white">モルージュのカランク</a>
												<br>
												<span class="clearfix c-white"> 〜八時間 </span>
												<small class="text-uppercase c-white">難易度：平均</small>
											</div>
										</div>
									</div>
									<div class="animate--hover-button c-white">レ・カランクはその歴史、稀少な美しさで知られる特別な場。青い波の楽園に真っ直ぐ導いてくれます。
										カランクは、地中海に面した、ゴツゴツした石灰岩の断崖絶壁に囲まれたような、深く入り組んだ入江です
										こちらの水中は魚が泳いでいるこが見えて一緒に泳ぐのがもできます。<br> <br><br>
										<a href='#contact'>
											<button data-hint="こんにちは, CALANQUESの訪問を予約したいです。" class="clickable btn btn-styled btn-sm btn-base-2">予約し</button> 
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="block block-image-holder animate-this animate--hover-zoom animate--hover-show-btn">
									<div class="block-image">
										<a href='#contact'>
											<img src="<%= asset_path 'photo23.jpg' %>">
										</a>
									</div>
									<div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
										<div class="block-info-inner animate-translate--up">
											<div class="text-center">
												<a href='#contact' class="heading heading-4 strong-500 mb-0 c-white">シティ中</a>
												<br>
												<span class="clearfix c-white"> 〜四時間 </span>
												<small class="text-uppercase c-white">難易度：簡単</small>
											</div>
										</div>
									</div>
									<div class="animate--hover-button">
										<a href='#contact'>
											<button data-hint="こんにちは, CENTRE VILLEの訪問を予約したいです。" class="clickable btn btn-styled btn-sm btn-base-2">予約し</button> 
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br><br><br>
				</section>
			</div>
		</div>
	</div>
</div>
<div>
	<div id="tarif" class="section-title section-title-inverse section-title--style-1 text-center mb-5">
		<h3 class="section-title-inner heading-2 c-black">
			<br>
			<span>価格表</span>
		</h3>
		<span class="section-title-delimiter clearfix d-none"></span>
	</div>
	<span class="space-xs-xl"></span>

	<h3 class="text-center">
		<div>
			<h4>
				料金は2名様から適用されます。 <br>
				人数追加の場合は15歳以上は料金が追加でかかります。<br>	
				その際証明書が必要です。<br>
				こちらの価格表を参照してください。
			</h4>
		</div>
		<br>
		<hr>
		半日の場合 (4時間30分) : 	<b> 110 €</b> <br>
		<hr>
		1日の場合 (8時間) :		<b> 200 €</b> <br>
		<hr>	
		追加の時間 : 					<b> 20 €</b> <br>
		<hr>
		追加の人 :				<b> 15 €</b> <br>
		<hr>
		子供15歳未満				<b> 無料　</b><br>
		<hr>
		半日旅行の例えば: 
		<br><br>
		<div>
			<ul style="list-style: none">
				<li><img class="image_price" src="<%= asset_path 'couple.png' %>">
					/  <img class="image_price" src="<%= asset_path 'family3.png' %>">
					/  <img class="image_price" src="<%= asset_path 'family4.png' %>">
					: <b>115 €</b></li>
					二人 (子供の有無にかかわらず)
				</ul>
			</div>
			<div><br>
				<div>
					<ul style="list-style: none">
						<li><img class="image_price" src="<%= asset_path 'couple.png' %>">
							+ <img class="image_price" src="<%= asset_path 'man.png' %>">
							/  <img class="image_price" src="<%= asset_path 'family3.png' %>">
							+ <img class="image_price" src="<%= asset_path 'woman.png' %>">
							: <b>130 €</b></li>
							二人 (子供の有無にかかわらず) + 追加の人
						</ul>
					</div>
				</div>
				<div><br>
					<div>
						<ul style="list-style: none">
							<li><img class="image_price" src="<%= asset_path 'family3.png' %>">
								+ <img class="image_price" src="<%= asset_path 'couple.png' %>">
								/  <img class="image_price" src="<%= asset_path 'couple.png' %>">
								+ <img class="image_price" src="<%= asset_path 'couple.png' %>">
								: <b>145 €</b>
							</li>
							二人 (子供の有無にかかわらず) + 追加の二人 (子供の有無にかかわらず)
						</ul>
					</div>
				</div>
				<br>
			</div>
		</div>
	</h3>
	<hr>
	<div class="text-center">
		<h4>
			含まれている費用は含まれていません：<br>
			こちらの料金は
			- 食事。 <br>
			- 輸送 (バース, タクシー電車, フェリ)。<br>
			- 個人的な活動(博物館, エンターテインメント)。<br>
			- 個人購入。
		</h4>
		<br><br>
	</div>
</div>
<section class="slice--offset-top parallax-section" style="background-image: url('<%= asset_path 'photo6.jpg' %>');">
	<div class="mask bg-dark alpha-2"></div>
</section>
<span class="space-xs-xl"></span>
<section id="who" class="slice sct-color-1">
	<div class="container">
		<span class="space-xs-xl"></span>
		<div  class="row align-items-center">
			<div class="col-lg-6">
				<div class="block block-image-holder">
					<div class="block-image">
						<img src="<%= asset_path '3.jpg' %>" class="img-fluid">
					</div>
				</div>
			</div>
			<div id="who" class="col-lg-6">
				<div  class="feature feature--boxed-border floating-content float--left sct-color-2">
					<h2 class="heading heading-3 strong-600">
						僕は誰ですか？
					</h2>
					<h2 class="heading heading-3 strong-500 line-height-1_6">
						３１歳のマルセイユ人です、<br> 
					</h2>
					<span class="clearfix"></span>
					<p class="mt-3">
						生涯を世界中の旅行に費やします。
						今まで１９国へ行きました、そしてまだいっぱい見たいつもりです。
						観光しながら、僕の旅をパーソナライズとユニークにするために、トラックから抜け出すようにしています。<br>
						旅行の間に、よく、旅行をパーソナライズするユニークに変化させるために、
						日本位住んでいました、九州です、福岡です。そしてフランスに戻ってきました時に３年間大学で日本語を勉強しました。
						日本は４回訪れました、北海度から沖縄まで。
						今、私の日本の文化の情熱と旅行への情熱と私の街の愛を合わせてによってあなたのサービスに僕は地元の一番ガイドいます
					</p>
					<a href="https://www.instagram.com/waraibeatbox" class="btn btn-styled btn-sm btn-base-1 mt-4">Instagram</a>
				</div>
			</div>
		</div>
	</div>
	<span class="space-xs-xl"></span>
</section>
<span class="space-xs-xl"></span>
<section class="slice--offset-top parallax-section" style="background-image: url('<%= asset_path 'photo5.jpg' %>');">
	<div class="mask bg-dark alpha-2"></div>
</section>
<br><br>
<section class="slice-lg sct-color-1">
	<div id="contact" class="section-title section-title-inverse section-title--style-1 text-center mb-5">
		<div class="section-title-inner heading-2 c-black">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 mr-auto ml-auto text-center clearfix">
						<h3 class="text-center font700 text-uppercase h3 mb0">ご連絡し</h3>
						<p class="mb50">ご自由にメッセージを残してください。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<span class="space-xs-xl"></span>
	<div class="container container-xs sct-inner relative">
		<%= form_tag message_path do%>
		<div class="form-default animate-on-scroll fadeInUp">
			<div class="form-group">
				<%= text_field_tag :name, nil, placeholder: 'お名前', class: 'form-control form-control-lg' %>
			</div>
			<div class="form-group">
				<%= text_field_tag :email, nil, placeholder: 'Eメール', class: 'form-control form-control-lg' %>
			</div>
			<div class="form-group">
				<%= text_field_tag :phone, nil, placeholder: 'phone', class: 'form-control form-control-lg' %>
			</div>
			<div class="form-group">				
				<%= text_area_tag  :message, nil, placeholder: 'メッセージ', id:"textbox", class: 'input form-control form-control-lg mb20', row:"5" %>
			</div>
			<div class="col-md-12 text-center">
				<%= submit_tag "送る", class: "btn btn-primary btn-lg" %>
			</div>
		</div>
		<% end %>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$("button.clickable").click(function(event){
				event.preventDefault();
				document.location.hash = "#contact";
				$("#textbox").val($(this).data('hint'));
			});  
		});
	</script>
</section>
<a data-turbolinks="false" href="#" class="back-to-top btn-back-to-top"></a>
<footer id="footer" class="footer footer-inverse">
	<div class="footer-bottom py-4">
		<div class="container">
			<div class="text-center">
				<ul class="social-media social-media--style-1-v5 mt-4">
					<li>
						<a data-turbolinks="false" href="https://www.facebook.com/minaminotabi/" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a data-turbolinks="false" href="https://www.instagram.com/minaminotabi" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li>
						<a data-turbolinks="false" href='<%= admin_path %>' class="dribbble" >
							<i class="fa fa-github"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>